<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <title>FLASK</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     
</head>

<body>


    
    <div class="container">

        <h2>Login Page</h2>
        <form method="POST" class="login-form" action="/submit">
            <div>
                Username: <input type="text" name="username"><br>
            </div> 

            <div class="password-container">
              Password: 
              <input type="password" name="password" id="password">
              <img  src="{{ url_for('static', filename='eye.png') }}" id="eyeIcon" onclick="togglePassword()" class="toggle-eye">

            </div>

             <input type="submit" value="Login" id="login-button" class="btn btn-primary">
         </form>

    </div>

    
    
</body>

  <script>
    function togglePassword() {
      const input = document.getElementById("password");
      const icon = document.getElementById("eyeIcon");

      if (input.type === "password") {
        input.type = "text";
        icon.src = "{{ url_for('static', filename='view.png') }}"; // hide icon
      } else {
        input.type = "password";
        icon.src = "{{ url_for('static', filename='eye.png') }}"; // show icon
      }
    }
  </script>
  
</html>